<div class="menu-wrapper">
  <div class="search-bar-wrapper">
    <app-food-search-bar (searchEvent)="onSearch($event)" />
  </div>
  <div class="order-selector">
    <app-food-ordering-dropdown (orderEvent)="onOrder($event)"/>
  </div>

  <div class="food-list">
    <div class="menu-item" *ngFor="let food of foodList">
        <div class="img-container">
          <a [routerLink]="['/food', food.id]">
            <img src={{food.image}} alt="Нет фото"/>
          </a>
        </div>
      <a [routerLink]="['/food', food.id]">
        <h3 class="link"> {{ food.name }}</h3>
      </a>
        <h3>{{ food.price }} тг.</h3>
        <button class="btn add-cart-btn" (click)="addToCart(food)">В корзину</button>
    </div>
  </div>
</div>
