.logo {
  width: 50px;
  float: left;
}

nz-header {
  background-color: #ff7200;
  width: 100%;
}

nz-header ul {
  background-color: #ff7200;
  color: white;
}

nz-header img {
  width: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}

ul li {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  color: white;
}

a {
  color: white;
}
