.cart-wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 20px;
}

select:focus {
  outline-color: #ff7200;
}

.cart-item {
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.cart-item h3 {
    cursor: pointer;
    color: #333;
    font-size: 20px;
}

.cart-item h3:hover {
    color: #ff7200;
    transition: 0.3s ease-in-out;
}

.food-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.price {
    font-weight: bold;
}
.btn{
  width: 200px;
  height: 45px;
}

.proceed{
  display: flex;
  gap: 40px;
}

.cart-btn {
    padding: 5px 10px;
    background-color: #ff7200;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
    border: 2px solid white;
    font-size: 12px;
}

.cart-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.cart-submit {
    width: 200px;
    height: 60px;
    margin-right: 10px;
    background-color: #ff7200;
    border: 1px solid #ccc;
}

input{
  width: 300px;
  height: 60px;
  border-radius: 5px;
}

/*input::placeholder {*/
/*  color: #888;*/
/*  font-style: italic;*/
/*  font-size: 14px;*/
/*  opacity: 1;*/
/*  display: flex;*/
/*  padding-left: 20px;*/
/*}*/

.cart-btn:hover {
    color: #ff7200;
    background-color: white;
    border: 2px solid #ff7200;
}

.cart-btn:disabled{
  background-color: #ffe5e5;
}

.cart-btn:disabled:hover{
  border: none;
}

#delete-btn{
    color: red;
    border: 2px solid red;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 30px;
    background-color: #fbfbfb;
}

#delete-btn:hover{
    color: white;
    background-color: red;
}

.special-wishes-textarea {
  width: 300px;
  height: 60px;
  resize: both;
  min-height: 50px;
  padding: 8px;
}

