.search-bar-wrapper {
  width: 100%;
}

.search-input {
  /*border-color: #ff7200;*/
  font-size: 20px;
  height: 50px;
}

.search-input:hover {
  border-color: #ff7200;
}

.search-input:focus {
  border-color: #ff7200;
  outline: none !important;
  box-shadow: none !important;
}

.search-btn {
  background-color: #ff7200;
  border: none;
  height: 50px;
  width: 50px;
  --antd-wave-shadow-color: #ff7200;
}
